#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#bg-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.01)
    ),
    url('/wood_bg.jpg');
  background-repeat: no-repeat;
}

#line {
  border: 3px solid rgb(82, 44, 7);
}

#turn-container {
  background-color: white;
  color: black;
  width: 350px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: 2px solid black;
  border-radius: 30px;
}

#turn-display {
  font-family: din-round,sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

#credits {
  font-size: 20px;
  font-family: din-round, sans-serif;
  margin: 25px;
}

#undo-move {
  top: 30px;
}

#start-game {
  top: 60px;
}

#resign {
  top: 90px;
}

.select-buttons {
  position: absolute;
  background-image: linear-gradient(to bottom right, #8a664b, #7f5643, #75493d, #72413a);
  border: 2px solid black;
  border-radius: 15px;
  width: 250px;
  height: 270px;
  top: 510px;
  left: 175px;
  align-items: center;
  vertical-align: middle;
}

.game-buttons {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 140px;
}

.game-buttons:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.game-buttons:hover {
  background-color: #e2e1e1;
}

.game-buttons:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.chess-cell {
  width: 75px;
  height: 75px;
  font-size: 30px;
  color: rgb(67, 64, 64);
  vertical-align: top;
  border: 3px solid black;
  margin-left: -3px;
  margin-top: -3px;
}

.promotion-choice {
  width: 85px;
  height: 85px;
  margin: 15px;
  border: 3px solid black;
  border-radius: 15px;
  vertical-align: top;
}

.promotion-choice:hover {
  width: 90px;
  height: 90px;
  margin: 15px;
  border: 3px solid black;
  border-radius: 15px;
  vertical-align: top;
}

#popup-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  z-index: 5;
  background-color: black;
  background: rgba(54, 53, 53, 0.5);
  backdrop-filter: blur(5px);
}

#popup-modal {
  background-color: white;
  color: black;
  width: 600px;
  height: 300px;
  border-radius: 30px;
  outline-color: black;
}

#winner-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  z-index: 5;
  background-color: black;
  background: rgba(54, 53, 53, 0.5);
  backdrop-filter: blur(5px);
}

#winner-modal {
  background-color: white;
  color: black;
  width: 600px;
  height: 125px;
  border-radius: 30px;
  outline-color: black;
  justify-content: center;
  align-items: center;
  padding: 5px;
}